@import '~office-ui-fabric-react/dist/sass/References.scss';

.center{
    text-align: center;
  }
  
  .centervertical{
    margin: 0px 65px;
    color: white;
  }
  

    .msGrid{
        @include ms-Grid;
      }
      
      .msGridrow{
        padding-bottom: 15px;
        @include ms-Grid-row;
      }
      
      .msGridcol12{
        @include ms-Grid-col;
        @include ms-sm12;
      }
      
      .msGridcol11{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl11;
      }
      
      .msGridcol10{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl10;
      }
      
      .msGridcol9{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl9;
      }
      
      .msGridcol8{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl8;
      }
      
      .msGridcol7{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl7;
      }
      
      .msGridcol6{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl6;
      }
      
      .msGridcol5{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl5;
      }
      
      .msGridcol4{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl4;
      }
      
      .msGridcol3{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl3;
      }
      
      .msGridcol2{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl2;
      }
      
      .msGridcol1{
        @include ms-Grid-col;
        @include ms-sm12;
        @include ms-xl1;
      }
      
      // .CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection-xl12.CanvasSection--edit.CanvasSection--selected {
      // 	float: none;
      // }
      
      // .CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--edit.CanvasZone--controlSelected {
      // 	max-width: none;
      // }
      
      
      #workbenchPageContent {
          right: 0;
          max-width: none;
          left: 0;
          border: none;
      }
      
      :global {
        .ms-Layer {
          button {
            min-width: 0px !important;
            margin-left: 0px !important;
          }
        }
      }
      
      
.mssm11{
  @include ms-Grid-col;
  @include ms-sm11;
}

.mssm1{
  @include ms-Grid-col;
  @include ms-sm1;
}
.wrapper {
  margin: 0 auto;

  .Dropdown  {
    min-width: 300px;
  }   

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }
  .col4 {
    @include ms-Grid-col;
    @include ms-sm4;
  }
  .col6 {
    @include ms-Grid-col;
    @include ms-sm6;
  }  
  .col8 {
    @include ms-Grid-col;
    @include ms-sm8;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  h1 {
    text-transform: uppercase;
    font-size: 18px;
  }

  .title {
    @include ms-font-xl;
    color:#24303e;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .disabled {
    input {
      background: #a8babc !important;
      border: 1px solid #a8babc !important;
      border-radius: 3px !important;
      color: #24303e;
    }
  }
  .bordetextarea {
    div {
      div {
        border: 0 !important;
        textarea {
          background: #fff !important;
          border: 1px solid #a8babc !important;
          border-radius: 3px !important;
          color: #24303e;
        }       
         
      }
    }
  }
  .bordeinput {
    div {
      div {
        border: 0 !important;
        input {
          background: #fff !important;
          border: 1px solid #a8babc !important;
          border-radius: 3px !important;
          color: #24303e;
        }
      }
    }
  }
  .bordeselect {
    span.ms-Dropdown-title {
      background: #fff !important;
      border: 1px solid #a8babc !important;
      border-radius: 3px !important;
      color: #24303e;
    }
  }
  .bordecheck {
    margin-top: 6px;
    label {
      div {
        border: 3px solid #ff5505 !important;
        border-radius: 3px;
        i {
          background: #fff;
          color: #ff5505;
        }
      }
    }
  }

}

.separadorMinimo {
  width: 100%;
  height: 10px;
  display: table;
}


.centrado {
  text-align: center;
  justify-content: center;
}


.izquierda {
  text-align: right;
  justify-content: right;
}

.imgSize {
  width: 100%;
  height: 100%;
  .ui-carousel {
    width: 100%;

    div[data-aa-class='Carousel__itemsContainerWrapper']{
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
  
}

.ms-ComboBox-callout {
  width: 7%;
}
.carouselImageContent {
  height: 500px;
}

.pnpImageCarousel {  
  .carouselContent {  
    height: 500px !important;  
  } 

  div[class^="container_"] {  
    height: 500px !important;  
  } 

  div[class^="details"] {  
    top: 80% !important;  

    span {  
      font-size: 15px !important;  
    }  

    span[class^="title"] {  
      font-size: 20px !important;  
    }  
  }  
    
  .carouselButtonsContainer button {  
    min-width: 32px !important;  
  }  
} 


.imgAll{
  cursor: pointer;
}

.contenedorCumpleanios{
  position: relative;
  cursor: pointer;

  .sectionCumpleanios{
    position: absolute;
    top: 58%;
    left: 2%;
    width: 80%;
    

    .textCumpleanios{
      font-size: 15px;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
      padding-left: 10px;
      min-width: 19%;
    }
  }

  .sectionHeaderCumpleanios{
    position: absolute;
    top: 17%;
    left: 33%;
    z-index: 1;

    .textHeaderCumpleanios{
      font-size: 170%;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
    }
  }
  
  
  .imgCumpleanios{
    width: 100%;
    height: auto;
    opacity: 0.8;
    
  }
}


.contenedorFeriado{
  position: relative;
  cursor: pointer;

  .sectionFeriado{
    position: absolute;
    top: 75%;
    width: 100%;
    

    .textFeriado{
      font-size: 15px;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
      padding-left: 10px;
      min-width: 19%;
    }
  }

  .sectionHeaderFeriado{
    position: absolute;
    top: 6.5%;
    left: 37%;
    z-index: 1;

    .textHeaderFeriado{
      font-size: 170%;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
    }
  }
  
  
  .imgFeriado{
    width: 100%;
    height: auto;
    opacity: 0.8;
    
  }
}

.contenedorAniversario{
  position: relative;
  cursor: pointer;

  .sectionAniversario{
    position: absolute;
    top: 33%;
    left: 11%;
    width: 77%;
    

    .textAniversario{
      font-size: 15px;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
      padding-left: 10px;
      min-width: 19%;
    }
  }

  .sectionHeaderAniversario{
    position: absolute;
    top: 18%;
    left: 33%;
    z-index: 1;

    .textHeaderAniversario{
      font-size: 170%;
      font-family: cursive;
      text-align: 'center';
      display: 'flex';
      justify-content: 'center';
      width: auto;
      font-weight: bold;
    }
  }
  
  
  .imgAniversario{
    width: 100%;
    height: auto;
    opacity: 0.8;
    
  }
}


.contenedorAplicacion {
  .spanHeader {
    font-weight: bold;
    color: #22375a;
    text-align: center;
    margin: 10px;
  }
  div{
    width: 100%;
  }
}

.separador {
  padding: 0px;
  width: 100%;
  height: 1px;
}

.sectionTilte {
  cursor: pointer;
  align-items: initial;
  width: 100%;

  span {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sectionTilte:hover{
  background: #005fa9;
  color: #e8e8e8;
}

.separador::before {
  background-color: #D9D9D9;
}
